<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MySite</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <script src="/js/slider.js"></script> 
</head>
<body>

  <div class="wrapper">
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <div class="company-signature">
            <a href="/">
              <img src="images/logo.png" class="logo">
            </a>
            <div class="company-name">
              <a href="/">webvibe</a>
            </div>
          </div>
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__list-item">
                <a href="#about-us-mark" class="menu__list-link">О НАС</a>
              </li>
              <li class="menu__list-item">
                <a href="#partners-mark" class="menu__list-link">ПАРТНЕРЫ</a>
              </li>
              <li class="menu__list-item">
                <a href="#portfolio-mark" class="menu__list-link">РАБОТЫ</a></li>
              <li class="menu__list-item">
                <a href="#why-us-mark" class="menu__list-link">ПОЧЕМУ МЫ</a>
              </li>
              <li class="menu__list-item">
                <a href="#price-list-mark" class="menu__list-link">ТАРИФЫ</a>
              </li>
              <li class="menu__list-item">
                <div class='btn'>
                  <a class='button-text' href='/feedback'>ЗАКАЗАТЬ ЗВОНОК</a>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main class="main">

      <div class="intro-block">
        <div class="intro-block__text">
          <div class="intro-block__title">
            <p>СТУДИЯ WEB-ДИЗАЙНА</p>
          </div>
          <div class="intro-block__suptitle">
            <p>WebVibe - время создать свой сайт</p>
          </div>
        </div>
      </div>

      <div class="privileges">
        <div class="section__divider">
        </div>

        <div class="section__title">
          <div class="section__title-text">
            <p>НАШИ ПРЕИМУЩЕСТВА</p>
          </div>
          <div class="section__title-line">
          </div>
        </div>

        <div class="slider">
          <div class="slider__wrapper">
            <div class="slider__items">
              <div class="slider__item">
                <div class="slider__item__content">
                  <div class="slider__item__slide-title">
                    <div class="slider__item__logo">
                      <img src="images/icon1.png" alt="">
                    </div>
                    <div class="slider__item__text">
                      Профессиональный дизайн
                    </div>
                  </div>
                  <div class="slider__item_subtext">
                    Ваш сайт будет разработан с использованием последних
                     технологий и лучших практик в области веб-дизайна.
                      Мы создадим красивый и функциональный сайт, который
                       привлечет внимание пользователей и улучшит опыт их
                        взаимодействия с вашей компанией.
                  </div>
                </div>
              </div>
              <div class="slider__item">
                <div class="slider__item__content">
                  <div class="slider__item__slide-title">
                    <div class="slider__item__logo">
                      <img src="images/icon2.png">
                    </div>
                    <div class="slider__item__text">
                      Удобное управление
                    </div>
                  </div>
                  <div class="slider__item_subtext">
                    Наш сайт будет разработан с учетом удобства управления
                     содержимым, что позволит вам быстро и легко вносить 
                     изменения на своем сайте. Вы сможете легко обновлять
                      содержимое, добавлять новые страницы, изменять 
                      изображения и многое другое.
                  </div>
                </div>
              </div>
              <div class="slider__item">
                <div class="slider__item__content">
                  <div class="slider__item__slide-title">
                    <div class="slider__item__logo">
                      <img src="images/icon3.png">
                    </div>
                    <div class="slider__item__text">
                      Адаптивный дизайн
                    </div>
                  </div>
                  <div class="slider__item_subtext">
                    Мы создадим сайт, который будет корректно
                     отображаться на разных устройствах, включая
                      настольные компьютеры, планшеты и мобильные
                       телефоны. Это обеспечит удобство использования
                        для ваших клиентов и повысит уровень
                         удовлетворенности от работы с вашим сайтом.
                  </div>
                </div>
              </div>
              <div class="slider__item">
                <div class="slider__item__content">
                  <div class="slider__item__slide-title">
                    <div class="slider__item__logo">
                      <img src="images/icon4.png">
                    </div>
                    <div class="slider__item__text">
                      Оптимизация для поисковых систем
                    </div>
                  </div>
                  <div class="slider__item_subtext">
                    Наш сайт будет оптимизирован для поисковых систем,
                     что поможет вашему сайту получить высокий рейтинг
                      в результатах поиска и привлечь больше потенциальны
                       клиентов. Мы убедимся, что ваш сайт будет
                        соответствовать всем требованиям поисковых систем
                         и будет легко обнаруживаться при поиске в интернете.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="slider__control slider__control_prev" href="#" role="button" data-slide="prev"></a>
          <a class="slider__control slider__control_next" href="#" role="button" data-slide="next"></a>
        </div>
        <div class="section__divider"></div>
      </div>
      
      <a name="about-us-mark"></a>
      <div class="about-us">
        <div class="about-us__title">
          <div class="about-us__title-text">
            О НАС
          </div>
          <div class="section__title-line">
          </div>
        </div>

        <div class="about-us__content">

          <ul class="advantages">
            <li class="advantages-element">
              <p>Наша компания была основана с целью
                помочь малому и среднему бизнесу расширить
                свое онлайн-присутствие. Мы предлагаем
                качественные услуги по разработке
                веб-сайтов, которые соответствуют
                потребностям каждого клиента. Наша
                команда опытных разработчиков и 
                дизайнеров заботится о каждой детали,
                чтобы создать красивый, функциональный
                и удобный сайт для вашего
                бизнеса.
              </p>
            </li>
            <li class="advantages-element">
              <p>Мы являемся профессиональными разработчиками веб-сайтов,
                и наша задача - помочь вашему бизнесу расти и
                  развиваться. Наша команда имеет многолетний опыт
                  работы в веб-разработке, что позволяет нам создавать
                    высококачественные сайты, которые привлекают
                    клиентов и повышают продажи. Мы стремимся к тому,
                      чтобы наша работа помогала вашему бизнесу достигать
                      новых высот.
              </p>
            </li>
          </ul>

          <ul class="advantages">
            <li class="advantages-element">
              <p>Мы понимаем, что каждый бизнес уникален,
                и наша задача - создать веб-сайт, который 
                отражает вашу индивидуальность и стиль.
                  Наша команда имеет индивидуальный подход
                  к каждому проекту, обеспечивая наших
                    клиентов уникальным и инновационным
                    дизайном. Мы стремимся к тому, чтобы
                      ваш сайт был отличительным и оставил
                      яркий след в памяти пользователей.
              </p>
            </li>
            <li class="advantages-element">
              <p>Наша миссия заключается в том, чтобы
                  помочь нашим клиентам быть в тренде
                  и иметь конкурентное преимущество на
                    рынке. Мы постоянно следим за последними
                    тенденциями и инновациями в
                      веб-разработке, чтобы обеспечить
                      нашим клиентам лучшие решения.
                        Мы стремимся к тому, чтобы наша 
                        работа была полезной и ценной для
                        наших клиентов, и мы готовы
                          сделать все возможное, чтобы 
                          достичь этой цели.
              </p>
            </li>
          </ul>
        </div>
      </div>

      <a name="portfolio-mark"></a>
      <div class="portfolio">
        <div class="section__divider">
        </div>

        <div class="section__title">
          <div class="section__title-text">
            <p>НАШИ РАБОТЫ</p>
          </div>
          <div class="section__title-line">
          </div>
        </div>

        <div class="portfolio-content">
          <div class="portfolio-content__element">
            <div class="port-cont__element-container">
              <img src="images/port1.webp" class="portfolio-content__element__img">
              <div class="portfolio-content__element__desc">
                <h1>Athabasca University</h1>
                <p>Университет Атабаски впервые ввел дистанционное обучение в Канаде
                  в 1970-х годах. Сегодня он использует лендинги для активации своих
                  инициатив по онлайн-регистрации, включая этот пример,
                  представляющий 14 программ сертификации. Это разумный выбор,
                  поскольку лендинг позволяет университету Атабаски сосредоточить
                  внимание посетителя на конкретной сфере своих многочисленных
                  онлайн-программ.</p>
              </div>
            </div>
          </div>

          <div class="portfolio-content__element">
            <div class="port-cont__element-container">
              <img src="images/port2.webp" class="portfolio-content__element__img">
              <div class="portfolio-content__element__desc">
                <h1>Blow.LTD.</h1>
                <p>Если вы посмотрите на “Uber for beauty”, то британский
                   бренд Blow.LTD предлагает гениальное
                    решение этой проблемы. Они рекомендуют 
                    доступные, профессиональные услуги красоты,
                     которые подходят посетителям, и, что более
                      важно, они могут записаться на прием к
                       одному из мастеров прямо из приложения.
                        Вполне разумно, что лендинг являются
                         важной частью их стратегии. Например,
                          сайт умным способом продвигает 
                          наращивание ресниц в домашних условиях.
                        </p>
              </div>
            </div>
          </div>

          <div class="portfolio-content__element">
            <div class="port-cont__element-container">
              <img src="images/port3.webp" class="portfolio-content__element__img">
              <div class="portfolio-content__element__desc">
                <h1>Branch Furniture</h1>
                <p>Как человек, которому недавно приходилось обставлять домашний
                  офис, я точно знаю, как трудно найти в интернете парты, стулья и столы,
                  которые вам действительно понравятся. (И это было только для одного
                  человека!) Branch Furniture понимает, что это может быть проблемой
                  для офис-менеджеров, поэтому их лендинг мгновенно заверяет вас, что
                  вы находитесь в нужном месте. Их обслуживание позволяет быстро и
                  легко разработать, доставить и установить офисную мебель.
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="section__divider">
        </div>
      </div>

      <a name="partners-mark"></a>
      <div class="partners">
        <div class="section__title partners__title">
          <div class="section__title-text">
            <p>Среди наших партнёров</p>
          </div>
          <div class="section__title-line partners__title-line">
          </div>
        </div>

        <div class="l-wrap">
          <div class="three-col-grid">
            <div class="grid-item">
              <img src="images/company-logo1.png" class="grid-item-logo">
            </div>
            <div class="grid-item">
              <img src="images/company-logo2.png" class="grid-item-logo">
            </div>
            <div class="grid-item">
              <img src="images/black-logo-3.png" class="grid-item-logo">
            </div>
            <div class="grid-item">
              <img src="images/black-logo-4.png" class="grid-item-logo">
            </div>
            <div class="grid-item">
              <img src="images/black-logo-5.png" class="grid-item-logo">
            </div>
            <div class="grid-item">
              <img src="images/black-logo-6.png" class="grid-item-logo">
            </div>
          </div>
        </div>
        <div class="section__divider">
        </div>

      </div>

      <div class="team-info">
        <div class="section__title">
          <div class="section__title-text">
            <p>Наша команда</p>
          </div>
          <div class="section__title-line">
          </div>
        </div>


        <div class="team-info__content">
          <div class="l-wrap l-wrap__team">
            <div class="three-col-grid">
              <div class="grid-item grid-item-team">
                <div class="grid-item-content">
                  <img src="images/manager-icon.svg" class="grid-item-logo">
                  <div class="team-mate-title">
                    Менеджер проекта
                  </div>
                </div>
              </div>
              <div class="grid-item grid-item-team">
                <div class="grid-item-content">
                  <img src="images/web-designer-icon.svg" class="grid-item-logo">
                  <div class="team-mate-title">
                    Веб-дизайнер
                  </div>
                </div>
              </div>
              <div class="grid-item grid-item-team">
                <div class="grid-item-content">
                  <img src="images/web-developer-icon.svg" class="grid-item-logo">
                  <div class="team-mate-title">
                    Веб-разработчик
                  </div>
                </div>
              </div>
              <div class="grid-item grid-item-team">
                <div class="grid-item-content">
                  <img src="images/content-manager-icon.svg" class="grid-item-logo">
                  <div class="team-mate-title">
                    Контент-менеджер
                  </div>
                </div>
              </div>
              <div class="grid-item grid-item-team">
                <div class="grid-item-content">
                  <img src="images/seo-icon.svg" class="grid-item-logo">
                  <div class="team-mate-title">
                    Специалист по SEO
                  </div>
                </div>
              </div>
              <div class="grid-item grid-item-team">
                <div class="grid-item-content">
                  <img src="images/technique-manager.svg" class="grid-item-logo">
                  <div class="team-mate-title">
                    Технический писатель
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="section__divider">
        </div>
      </div>

      <a name="why-us-mark"></a>
      <div class="why-us">  
        <div class="why-us__content">
          <ul class="why-us__list">
            <div class="why-us__title">
              <h1>
                ПОЧЕМУ МЫ?
              </h1>
            </div>
            <li class="why-us__list__element">
              <p>
                <b>Опыт и квалификация:</b> мы имеем опыт в разработке сайтов
                 для различных отраслей и знаем, как сделать ваш
                  сайт эффективным и выгодным.
              </p>
            </li>
            <li class="why-us__list__element">
              <p>
                <b>Качество и профессионализм:</b> мы постоянно совершенствуем свои навыки и следим за тенденциями в индустрии, чтобы предоставлять нашим клиентам самые качественные и профессиональные услуги.
              </p>
            </li>
            <li class="why-us__list__element">
              <p>
                <b>Кастомизация:</b> мы не используем шаблонные решения, а каждый проект разрабатываем с учетом потребностей и требований конкретного клиента.
              </p>
            </li>
            <li class="why-us__list__element">
              <p>
                <b>Коммуникация:</b> мы всегда на связи с нашими клиентами и готовы предоставить регулярные обновления по проекту.
              </p>
            </li>
            <li class="why-us__list__element">
              <p>
                <b>Быстрота и эффективность:</b> мы знаем, что время - это деньги, поэтому стараемся выполнить проект в срок и с высокой эффективностью.
              </p>
            </li>
          </ul>
        </div>  
      </div>

      <div class="section__divider"></div>

      <div class="news">
        <div class="news__title">
          <h1>FRESH NEWS</h1>
        </div>

        <div class="news-content">
          <div class="news-section">
            <div class="news-section__title">
              <h2>Chrome перестанет помечать https-сайты как «безопасные»</h2>
            </div>
            <div class="news-section__content">
              <div class="news-section__content__img">
                <img src="images/news-pic1.png" class="news-img">
              </div>
              <div class="news-section__content__text">
                Создатели Chrome объявили, что в версии 69,
                которая выйдет в сентябре 2018 года, сайты
                  с https-соединением перестанут помечать как
                  «безопасные». Вместо этого браузер сконцентрирует
                    внимание на индикаторах низкой безопасности,
                    сообщает Engadget.
                <br>
                <br>
                <a href="https://www.engadget.com/2018/05/18/chrome-to-kill-secure-indicator/">Читать полностью</a>
              </div>
            </div>
          </div>

          <div class="news-section">
            <div class="news-section__title">
              <h2>30% всех сайтов мира работает на Wordpress</h2>
            </div>
            <div class="news-section__content">
              <div class="news-section__content__img">
                <img src="images/news-pic2.webp" class="news-img">
              </div>
              <div class="news-section__content__text">
                «Исследователи веба» из W3Techs сообщают, что технология Wordpress достигла важной вехи в развитии: доля созданных с её помощью сайтов перешагнуло за 30 процентов, сообщает The Register.
                <br>
                <br>
                <a href="https://www.theregister.co.uk/2018/03/05/wordpress_is_now_30_per_cent_of_the_web/">Читать полностью</a>
              </div>
            </div>
          </div>

          <div class="news-section">
            <div class="news-section__title">
              <h2>Интерактив и постоянное обновление информации: Google внедряет веб-технологии в электронную почту</h2>
            </div>
            <div class="news-section__content">
              <div class="news-section__content__img">
                <img src="images/news-pic3.jpg" class="news-img">
              </div>
              <div class="news-section__content__text">
                Google открыла разработчикам доступ к «AMP для электронной почты» — новой возможности, которая позволит «сделать e-mail более интересным, интерактивным и многофункциональным», сообщает компания в блоге.
                <br>
                <br>
                <a href="https://blog.google/products/g-suite/bringing-power-amp-gmail/">Читать полностью</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section__divider"></div>

      <a name="price-list-mark"></a>
      <div class="price-list">
        <div class="price-list__title">
          <h1>ТАРИФЫ</h1>
        </div>

        <div class="price-list__content">
          
          <div class="price-list__section">
            <div class="price-list-section__title">
              <h2>Настройка и ведение Яндекс.Директ</h2>
            </div>
            <div class="price-list-section__content">
              <div class="price-list-section__content__text">
                Контекстная реклама (Яндекс Директ и Google Adwords), при грамотной настройке и ведении, позволят получить целевые заявки с вашего сайта уже в день запуска рекламной кампании. Очень важно заказать настройку контекстной рекламы у грамотных и опытных специалистов. От этого будут зависеть затраты на рекламу и успех всей вашей кампании в целом.
              </div>
              <div class="price">
                <h1>19.900 ₽</h1>
              </div>
            </div>
          </div>
          
          <div class="price-list__section">
            <div class="price-list-section__title">
              <h2>Сайт-визитка</h2>
            </div>
            <div class="price-list-section__content">
              <div class="price-list-section__content__text">
                Сайт-визитка — это виртуальная визитная карточка компании. Если у вас небольшая фирма или вы только запустили свой бизнес, создание сайта-визитки станет хорошим стартом. Обычно это недорогой онлайн-ресурс с лаконично изложенной информацией о компании и услугах.
              </div>
              <div class="price">
                <h1>29.990 ₽</h1>
              </div>
            </div>
          </div>

          <div class="price-list__section">
            <div class="price-list-section__title">
              <h2>SEO продвижение сайта</h2>
            </div>
            <div class="price-list-section__content">
              <div class="price-list-section__content__text">
                Индивидуальное решение для увеличения эффективности маркетинга и роста продаж! Используем только белые методы продвижения сайта в ТОП. Уникальный комплексный подход к раскрутке сайта. Первые клиенты с SEO уже через месяц. Увеличим целевой трафик, лиды и продажи за счет повышения эффективности всего маркетинга!
              </div>
              <div class="price">
                <h1>40.000 ₽</h1>
              </div>
            </div>
          </div>
          
          <div class="price-list__section">
            <div class="price-list-section__title">
              <h2>Разовая оптимизация сайта</h2>
            </div>
            <div class="price-list-section__content">
              <div class="price-list-section__content__text">
                Разовые работы по оптимизации сайта помогут улучшить индексацию и видимость в поисковой выдаче, увеличить посещаемость, привлечь новых клиентов. Закажите эту услугу у нас, и мы проведем разовую SEO-оптимизацию вашего сайта: устраним технические проблемы, оптимизируем метатеги, поработаем с функционалом, структурой, контентом, настроим активные элементы. Качественная оптимизация сайта — залог эффективности его продвижения в будущем.
              </div>
              <div class="price">
                <h1>90.000 ₽</h1>
              </div>
            </div>
          </div>
          
          <div class="price-list__section">
            <div class="price-list-section__title">
              <h2>Интернет-магазин</h2>
            </div>
            <div class="price-list-section__content">
              <div class="price-list-section__content__text">
                Интернет-магазин – это полнофункциональный сайт, отвечающий всем современным требованиям, как по части презентационных возможностей, так и в том, что касается удобства работы с товарным ассортиментом.
              </div>
              <div class="price">
                <h1>139.990 ₽</h1>
              </div>
            </div>
          </div>

        </div>
      </div>


    </main>

    <!-- Site footer -->
    <footer class="site-footer">
      <div class="footer__container">
        <div class="footer__title">
          Contacts
        </div>
        <div class="footer__links">
          <div class="mail">
            web@webvibe.ru
          </div>
          <div class="social-media__icons">
            <a href="#">
              <img src="images/icons8-facebook.svg" class="social-media-icon__img">
            </a>
            <a href="#">
              <img src="images/icons8-instagram.svg" class="social-media-icon__img">
            </a>
            <a href="#">
              <img src="images/icons8-vk-circled.svg" class="social-media-icon__img">
            </a>
          </div>
        </div>
      </div>
    </footer> 

  </div>

</body>
</html>